In [1]:
import pyspark
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("banking project").getOrCreate()

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

23/01/18 12:44:03 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
from pyspark.sql.functions import *

# Loading Datasets

In [6]:
loanDF = spark.read.csv("loan.csv", inferSchema =True, header=True)

loanDF.printSchema()
loanDF.show()

root
 |-- Customer_ID: string (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Occupation: string (nullable = true)
 |-- Marital Status: string (nullable = true)
 |-- Family Size: integer (nullable = true)
 |-- Income: integer (nullable = true)
 |-- Expenditure: integer (nullable = true)
 |-- Use Frequency: integer (nullable = true)
 |-- Loan Category: string (nullable = true)
 |-- Loan Amount: string (nullable = true)
 |-- Overdue: integer (nullable = true)
 |--  Debt Record: string (nullable = true)
 |--  Returned Cheque: integer (nullable = true)
 |--  Dishonour of Bill: integer (nullable = true)

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|         Occupation|Marital Status|Family Size|Income|Expenditure|Use Frequency|     Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|    IB14001| 30|  MALE|       BANK MANAGER|        SINGLE|          4| 50000|      22199|            6|           HOUSING| 10,00,000 |      5|      42,898|               6|                 9|
|    IB14008| 44|  MALE|          PROFESSOR|       MARRIED|          6| 51000|      19999|            4|          SHOPPING|     50,000|      3|      33,999|               1|                 5|
|    IB14012| 30|FEMALE|            DENTIST|        SINGLE|          3| 58450|      27675|            5|        TRAVELLING|     75,000|      6|      20,876|               3|                 1|
|    IB14018| 29|  MALE|            TEACHER|       MARRIED|          5| 45767|      12787|            3|         GOLD LOAN|  6,00,000 |      7|      11,000|               0|                 4|
|    IB14022| 34|  MALE|             POLICE|        SINGLE|          4| 43521|      11999|            3|        AUTOMOBILE|  2,00,000 |      2|      43,898|               1|                 2|
|    IB14024| 55|FEMALE|              NURSE|       MARRIED|          6| 34999|      19888|            4|        AUTOMOBILE|     47,787|      1|      50,000|               0|                 3|
|    IB14025| 39|FEMALE|            TEACHER|       MARRIED|          6| 46619|      18675|            4|           HOUSING| 12,09,867 |      8|      29,999|               6|                 8|
|    IB14027| 51|  MALE|     SYSTEM MANAGER|       MARRIED|          3| 49999|      19111|            5|       RESTAURANTS|     60,676|      8|      13,000|               2|                 5|
|    IB14029| 24|FEMALE|            TEACHER|        SINGLE|          3| 45008|      17454|            4|        AUTOMOBILE|  3,99,435 |      9|      51,987|               4|                 7|
|    IB14031| 37|FEMALE|  SOFTWARE ENGINEER|       MARRIED|          5| 55999|      23999|            5|        AUTOMOBILE|     60,999|      2|           0|               5|                 3|
|    IB14032| 24|  MALE|       DATA ANALYST|        SINGLE|          4| 60111|      28999|            6|        AUTOMOBILE|     35,232|      5|      33,333|               1|                 2|
|    IB14034| 32|  MALE|   PRODUCT ENGINEER|       MARRIED|          6|  null|      29000|            7|COMPUTER SOFTWARES|     80,660|      6|       4,500|               5|                 4|
|    IB14037| 54|FEMALE|            TEACHER|       MARRIED|          5| 48099|      19999|            4|       RESTAURANTS|     30,999|      1|      12,000|               7|                 5|
|    IB14039| 45|  MALE|    ACCOUNT MANAGER|       MARRIED|          7| 45777|      18452|            4|         GOLD LOAN|  9,87,611 |      7|      39,999|               8|                 1|
|    IB14041| 59|FEMALE|ASSISTANT PROFESSOR|       MARRIED|          4| 50999|      22999|            5|  EDUCATIONAL LOAN|  5,99,934 |      3|       9,000|               9|                 9|
|    IB14042| 25|FEMALE|             DOCTOR|        SINGLE|          4| 60111|      27111|            5|        TRAVELLING| 12,90,929 |      4|      18,000|               1|                 0|
|    IB14045| 31|  MALE|       STORE KEEPER|        SINGLE|          5| 40999|      11999|            3|       BOOK STORES|  1,67,654 |      1|       4,500|               0|                 1|
|    IB14049| 49|  MALE|       BANK MANAGER|       MARRIED|          4| 45999|      14500|            4|        TRAVELLING|     79,999|      4|       6,700|               7|                 3|
|    IB14050| 56|  MALE|     CIVIL ENGINEER|       MARRIED|          4|  null|      13999|            3|           HOUSING| 10,65,577 |      6|      19,999|               4|                 2|
|    IB14054| 58|FEMALE|             DOCTOR|       MARRIED|          5| 60000|      25000|            5|           HOUSING|  9,00,000 |      5|      21,000|               9|                 0|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [7]:
print(loanDF.count() ," distinct " , loanDF.distinct().count() )

500  distinct  500

In [9]:
loanDF.groupBy("Loan Category").count().orderBy(col("count").desc()).show(truncate=False)

+------------------+-----+
|Loan Category     |count|
+------------------+-----+
|GOLD LOAN         |77   |
|HOUSING           |67   |
|AUTOMOBILE        |60   |
|TRAVELLING        |53   |
|RESTAURANTS       |41   |
|COMPUTER SOFTWARES|35   |
|SHOPPING          |35   |
|BUSINESS          |24   |
|EDUCATIONAL LOAN  |20   |
|RESTAURANT        |20   |
|HOME APPLIANCES   |14   |
|DINNING           |14   |
|ELECTRONICS       |14   |
|AGRICULTURE       |12   |
|BOOK STORES       |7    |
|BUILDING          |7    |
+------------------+-----+

# Trying out some commands

In [11]:
loanDF.filter(col("Expenditure")>50000).show(truncate=False)
loanDF.filter(col("Expenditure")>50000).count()

+-----------+---+------+---------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|Occupation     |Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category|Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+---------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+
|IB14158    |54 |MALE  |AIRPORT OFFICER|MARRIED       |6          |80000 |62541      |2            |AUTOMOBILE   | 20,45,789 |1      |16,599      |2               |3                 |
|IB14176    |54 |MALE  |AIRPORT OFFICER|MARRIED       |6          |80000 |62541      |2            |HOUSING      | 20,45,789 |1      |16,599      |2               |3                 |
|IB14204    |54 |MALE  |AIRPORT OFFICER|MARRIED       |6          |81000 |62541      |2            |DINNING      | 20,45,789 |1      |16,599      |2               |3                 |
|IB14227    |54 |MALE  |AIRPORT OFFICER|MARRIED       |6          |80000 |62541      |2            |HOUSING      | 20,45,789 |1      |16,599      |2               |3                 |
|IB14278    |41 |MALE  |BANK MANAGER   |MARRIED       |6          |64125 |51246      |6            |TRAVELLING   | 6,52,147  |5      |16,524      |3               |3                 |
|IB15024    |26 |MALE  |DIETICIAN      |SINGLE        |3          |95425 |53086      |2            |HOUSING      |488,076    |4      |61227       |5               |2                 |
+-----------+---+------+---------------+--------------+-----------+------+-----------+-------------+-------------+-----------+-------+------------+----------------+------------------+

6

In [15]:
loanDF.filter(col("Family Size")>3).show(truncate=False)

+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|Customer_ID|Age|Gender|Occupation         |Marital Status|Family Size|Income|Expenditure|Use Frequency|Loan Category     |Loan Amount|Overdue| Debt Record| Returned Cheque| Dishonour of Bill|
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
|IB14001    |30 |MALE  |BANK MANAGER       |SINGLE        |4          |50000 |22199      |6            |HOUSING           | 10,00,000 |5      |42,898      |6               |9                 |
|IB14008    |44 |MALE  |PROFESSOR          |MARRIED       |6          |51000 |19999      |4            |SHOPPING          |50,000     |3      |33,999      |1               |5                 |
|IB14018    |29 |MALE  |TEACHER            |MARRIED       |5          |45767 |12787      |3            |GOLD LOAN         | 6,00,000  |7      |11,000      |0               |4                 |
|IB14022    |34 |MALE  |POLICE             |SINGLE        |4          |43521 |11999      |3            |AUTOMOBILE        | 2,00,000  |2      |43,898      |1               |2                 |
|IB14024    |55 |FEMALE|NURSE              |MARRIED       |6          |34999 |19888      |4            |AUTOMOBILE        |47,787     |1      |50,000      |0               |3                 |
|IB14025    |39 |FEMALE|TEACHER            |MARRIED       |6          |46619 |18675      |4            |HOUSING           | 12,09,867 |8      |29,999      |6               |8                 |
|IB14031    |37 |FEMALE|SOFTWARE ENGINEER  |MARRIED       |5          |55999 |23999      |5            |AUTOMOBILE        |60,999     |2      |0           |5               |3                 |
|IB14032    |24 |MALE  |DATA ANALYST       |SINGLE        |4          |60111 |28999      |6            |AUTOMOBILE        |35,232     |5      |33,333      |1               |2                 |
|IB14034    |32 |MALE  |PRODUCT ENGINEER   |MARRIED       |6          |null  |29000      |7            |COMPUTER SOFTWARES|80,660     |6      |4,500       |5               |4                 |
|IB14037    |54 |FEMALE|TEACHER            |MARRIED       |5          |48099 |19999      |4            |RESTAURANTS       |30,999     |1      |12,000      |7               |5                 |
|IB14039    |45 |MALE  |ACCOUNT MANAGER    |MARRIED       |7          |45777 |18452      |4            |GOLD LOAN         | 9,87,611  |7      |39,999      |8               |1                 |
|IB14041    |59 |FEMALE|ASSISTANT PROFESSOR|MARRIED       |4          |50999 |22999      |5            |EDUCATIONAL LOAN  | 5,99,934  |3      |9,000       |9               |9                 |
|IB14042    |25 |FEMALE|DOCTOR             |SINGLE        |4          |60111 |27111      |5            |TRAVELLING        | 12,90,929 |4      |18,000      |1               |0                 |
|IB14045    |31 |MALE  |STORE KEEPER       |SINGLE        |5          |40999 |11999      |3            |BOOK STORES       | 1,67,654  |1      |4,500       |0               |1                 |
|IB14049    |49 |MALE  |BANK MANAGER       |MARRIED       |4          |45999 |14500      |4            |TRAVELLING        |79,999     |4      |6,700       |7               |3                 |
|IB14050    |56 |MALE  |CIVIL ENGINEER     |MARRIED       |4          |null  |13999      |3            |HOUSING           | 10,65,577 |6      |19,999      |4               |2                 |
|IB14054    |58 |FEMALE|DOCTOR             |MARRIED       |5          |60000 |25000      |5            |HOUSING           | 9,00,000  |5      |21,000      |9               |0                 |
|IB14057    |25 |MALE  |AIRPORT OFFICER    |SINGLE        |4          |40000 |18888      |3            |RESTAURANTS       | 4,00,000  |8      |11,111      |1               |7                 |
|IB14060    |36 |FEMALE|CLERK              |MARRIED       |4          |35000 |15000      |3            |HOUSING           | 3,00,000  |2      |5,600       |4               |8                 |
|IB14070    |40 |MALE  |PUBLIC WORKS       |MARRIED       |4          |38000 |20000      |3            |GOLD LOAN         | 4,00,000  |9      |19,954      |3               |2                 |
+-----------+---+------+-------------------+--------------+-----------+------+-----------+-------------+------------------+-----------+-------+------------+----------------+------------------+
only showing top 20 rows

In [16]:
txnDF = spark.read.csv("txn.csv", inferSchema=True, header =True)

In [17]:
txnDF.printSchema()

root
 |-- Account No: string (nullable = true)
 |-- TRANSACTION DETAILS: string (nullable = true)
 |-- VALUE DATE: string (nullable = true)
 |--  WITHDRAWAL AMT : double (nullable = true)
 |--  DEPOSIT AMT : double (nullable = true)
 |-- BALANCE AMT: double (nullable = true)

In [20]:
txnDF.groupBy(col("Account No")).count().show(truncate=False)

+-------------+-----+
|Account No   |count|
+-------------+-----+
|409000438611'|4588 |
|1196711'     |10536|
|1196428'     |48779|
|409000493210'|6014 |
|409000611074'|1093 |
|409000425051'|802  |
|409000405747'|51   |
|409000493201'|1044 |
|409000438620'|13454|
|409000362497'|29840|
+-------------+-----+

In [21]:
txnDF.groupBy("Account No").max(" WITHDRAWAL AMT ").orderBy("max( WITHDRAWAL AMT )", ascending = False).show()

+-------------+---------------------+
|   Account No|max( WITHDRAWAL AMT )|
+-------------+---------------------+
|     1196711'|        4.594475464E8|
|409000438620'|                4.0E8|
|409000425051'|               3.54E8|
|409000438611'|                2.4E8|
|409000405747'|                1.7E8|
|     1196428'|                1.5E8|
|409000362497'|        1.413662392E8|
|409000493210'|                1.5E7|
|409000493201'|            2500000.0|
|409000611074'|             912000.0|
+-------------+---------------------+

In [22]:
txnDF.groupBy("Account No").min(" WITHDRAWAL AMT ").orderBy("min( WITHDRAWAL AMT )").show()

+-------------+---------------------+
|   Account No|min( WITHDRAWAL AMT )|
+-------------+---------------------+
|409000493210'|                 0.01|
|409000438611'|                  0.2|
|     1196711'|                 0.25|
|     1196428'|                 0.25|
|409000438620'|                 0.34|
|409000362497'|                 0.97|
|409000425051'|                 1.25|
|409000493201'|                  2.1|
|409000405747'|                 21.0|
|409000611074'|                120.0|
+-------------+---------------------+

In [23]:

txnDF.groupBy("Account No").max(" DEPOSIT AMT ").orderBy("max( DEPOSIT AMT )", ascending = False).show()

+-------------+------------------+
|   Account No|max( DEPOSIT AMT )|
+-------------+------------------+
|409000438620'|           5.448E8|
|     1196711'|             5.0E8|
|     1196428'|     2.119594422E8|
|409000405747'|           2.021E8|
|409000362497'|             2.0E8|
|409000438611'|          1.7025E8|
|409000425051'|             1.5E7|
|409000493210'|             1.5E7|
|409000611074'|         3000000.0|
|409000493201'|         1000000.0|
+-------------+------------------+

In [24]:
txnDF.groupBy("VALUE DATE").count().orderBy("count", ascending = False).show()

+----------+-----+
|VALUE DATE|count|
+----------+-----+
| 27-Jul-17|  567|
| 13-Aug-18|  463|
|  8-Nov-17|  402|
|  7-Oct-17|  382|
| 10-Jul-18|  374|
| 12-Dec-17|  367|
| 12-Sep-18|  365|
|  9-Aug-18|  360|
| 19-Sep-17|  358|
| 16-Mar-17|  353|
| 10-Sep-18|  344|
| 14-Jul-17|  333|
|  7-Mar-18|  319|
| 11-Oct-18|  303|
| 22-Aug-17|  301|
|  9-Jan-18|  299|
|  9-Oct-18|  297|
| 20-Apr-18|  296|
|  9-Jul-18|  292|
|  7-Apr-18|  291|
+----------+-----+
only showing top 20 rows

In [27]:
txnDF.select("Account No","TRANSACTION DETAILS"," WITHDRAWAL AMT ").filter(txnDF[" WITHDRAWAL AMT "]>100000).show(truncate=False)

+-------------+--------------------------------+----------------+
|Account No   |TRANSACTION DETAILS             | WITHDRAWAL AMT |
+-------------+--------------------------------+----------------+
|409000611074'|INDO GIBL Indiaforensic STL01071|133900.0        |
|409000611074'|INDO GIBL Indiaforensic STL04071|195800.0        |
|409000611074'|INDO GIBL Indiaforensic STL10071|143800.0        |
|409000611074'|INDO GIBL Indiaforensic STL11071|331650.0        |
|409000611074'|INDO GIBL Indiaforensic STL12071|129000.0        |
|409000611074'|INDO GIBL Indiaforensic STL13071|230013.0        |
|409000611074'|INDO GIBL Indiaforensic STL14071|367900.0        |
|409000611074'|INDO GIBL Indiaforensic STL15071|108000.0        |
|409000611074'|INDO GIBL Indiaforensic STL17071|141000.0        |
|409000611074'|INDO GIBL Indiaforensic STL22071|206000.0        |
|409000611074'|INDO GIBL Indiaforensic STL02081|242300.0        |
|409000611074'|INDO GIBL Indiaforensic STL04081|113250.0        |
|409000611074'|INDO GIBL Indiaforensic STL07081|206900.0        |
|409000611074'|INDO GIBL Indiaforensic STL08081|276000.0        |
|409000611074'|INDO GIBL Indiaforensic STL09081|171000.0        |
|409000611074'|INDO GIBL Indiaforensic STL11081|189800.0        |
|409000611074'|INDO GIBL Indiaforensic STL14081|271323.0        |
|409000611074'|INDO GIBL Indiaforensic STL16081|200600.0        |
|409000611074'|INDO GIBL Indiaforensic STL17081|176900.0        |
|409000611074'|INDO GIBL Indiaforensic STL18081|150050.0        |
+-------------+--------------------------------+----------------+
only showing top 20 rows